ul {
	list-style-type: none;
	float: right;
	margin-right: 5px;
	margin-top: -250px;
}
ul li{
	margin-bottom: 15px;
	 border-width: 5px;
        border-style: outset;
        border-color: #0000CC;
		width: 200px;
		height: 30px;
		text-align: center;
		padding-top: 5px;
}
ul li a{
	text-decoration: none;
}
#picture{
	margin-top: -250px;
}
body {
	background-color: #EBFFEB;
                	
	}
	
	h1 {
        text-align:center;
	background-color: #EBFFEB;
        border-width: 20px;
        border-style: outset;
        border-color: #0000CC;
	font-style: italic;
	}

        #picture {
       	float:left;
	width: 170px;
       	}
        

       

	#p1 {
       	margin-top: 0px;
	font-family:"Times New Roman", serif;
	font-size:120%;
	color:black;
	/*margin:1.2em;*/


        ul {
        margin-left:140px;
	margin-top:25px;
	text-decoration: underline;
        }
       
        #p2 {
        text-align: left;
	text-decoration: underline;
        }

	a:link {
        color: blue;
        text-decoration: none;
	}    
        
        a:hover {
        color: blue;
        font-style: italic;
        }